<div id="anonymousSidebar" style="width:190px; padding-left:5px;padding-top:5px;">
  <h3>{{sidebarTitle}}</h3>
  <div style="padding:14px;">
    <div><img src="{{userPic}}" height="16px;" align="top">&nbsp;{{userDisplayName}} &nbsp;
      <span *ngIf="authenticated"><a (click)="signOut()" target="_top">
                        <i class="fa fa-sign-out" aria-hidden="true" title="sign out"></i></a>
                    </span>
      <br><br>
    </div>
    <div><a [routerLink]="['/']" target="_top">Home</a></div>
    <div><a href="manage">sidebars</a></div>
    <div><a [routerLink]="['/about']" >About</a></div>
    <div><a [routerLink]="['/help']" >Help</a></div>
    <div><a [routerLink]="['/faq']" >FAQ</a></div>
    <div>v 0.0.1</div>
  </div>
  <h3 *ngIf="!authenticated">Examples</h3>
  <div style="padding:14px;" *ngIf="!authenticated">
    <div><a href="https://en.wikipedia.org/wiki/Wikipedia">Wikipedia</a></div>
    <div><a href="http://www.spiegel.de">Spiegel</a></div>
    <div><a href="http://www.heise.de">Heise</a></div>
    <div><a href="http://www.dzone.com">Dzone</a></div>
  </div>
  <h3>Debug</h3>
  <div style="padding:14px;">
    <div>Sidebar:</div>
    <div>{{currentSidebarUuid}}</div>
    <div>Category:</div>
    <div><a *ngIf="currentCategoryUuid != null" [routerLink]="['/sidebars', currentSidebarUuid,'categories',currentCategoryUuid]"
        >{{currentCategoryUuid}}</a></div>
  </div>
</div>

<div id="accordion" style="width:190px; padding-left:5px;padding-top:5px;">
  <h3>Manage Sidebars</h3>
  <div style="padding:14px;">
    <div><br><b><i>Sidebars</i>:</b></div>
    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;<a [routerLink]="['/sidebars','local']" target="_top">local</a> &nbsp;
    <input name="newcat" size="7" placeholder="new cat" (change)="createCategory($event.target.value)">
    <!--
                <div *ngFor="let sidebar of sidebars">
                    <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;<a [routerLink]="['/sidebars',sidebar.uuid]" target="_top">{{sidebar.sidebarName}}</a>
                </div>-->
  </div>

</div>

<div *ngIf="currentSidebarUuid!='local'" id="accordion3" style="width:190px; padding-left:5px;padding-top:5px;">
  <template ngFor <template ngFor let-category [ngForOf]="bookmarks">

    <h3 (click)="setCat(category)">{{category.bucketname}}</h3>
    <div>
      <div *ngFor="let bookmark of category.bookmarks">
        <a href='{{bookmark.url}}'>{{bookmark.name}}</a>
      </div>
    </div>
  </template>
</div>

<div *ngIf="currentSidebarUuid=='local'" id="accordion4" style="width:190px; padding-left:5px;padding-top:5px;">
  <template ngFor <template ngFor let-category [ngForOf]="localBMs">

    <h3 (click)="setCat(category)">{{category.bucketname}}</h3>
    <div>
      <div *ngFor="let bookmark of category.bookmarks">
        <a href='{{bookmark.url}}'>{{bookmark.name}}</a>
      </div>
    </div>
  </template>
</div>

<div id="targettitle"></div>
<br><br>
<div *ngIf="!authenticated" class="login-wrapper">
  <div id="{{googleLoginButtonId}}"></div>
</div>

<div (click)="loadAccordion()">load</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<! -- sidebar -- >
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1335741973265162" data-ad-slot="6126510968" data-ad-format="auto"></ins>
<script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>