<div class="container">
  <div class="row">
    <div class='eleven columns'>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- sidebar home -->
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1335741973265162" data-ad-slot="3817552565"></ins>
      <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
    </div>
    <div class='one column'>
      <div *ngIf="!authenticated">
        <div id="{{googleLoginButtonId}}" style="position: absolute;right: 0px;"></div>
      </div>
    </div>
  </div>
  Sidebar: {{currentSidebarUuid}}<br>
  Category: {{currentCategoryUuid}}<br>
  {{message}}
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="row">
      <div class='twelve columns'>
        <label for="exampleEmailInput">Url</label>
        <input class="u-full-width" placeholder="http://" id="url" type="url" required [(ngModel)]="bookmark.url" name="url">
      </div>
    </div>
    <div class="row">
      <div class='twelve columns'>
        <label for="exampleEmailInput">Name (optional)</label>
        <input class="u-full-width" id="name" type="text" [(ngModel)]="bookmark.name" name="name">
      </div>
    </div>
    <div class="row">
      <div class='twelve columns'>
        <label for="exampleEmailInput">Tags (optional)</label>
        <textarea class="u-full-width" id="tags" [(ngModel)]="bookmark.tags" name="tags" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class='twelve columns'>
        <label for="exampleRecipientInput">Open in...</label>
        <select class="u-full-width" id="exampleRecipientInput">
          <option value="content" selected>same window</option>
          <option value="_blank">new tab</option>
          <option value="named">dedicated tab</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class='twelve columns'>
        <button type="submit" class="button-primary">Submit</button>
      </div>
    </div>
  </form>
 

 